script: "./travis-build.sh"
sudo: false
jdk:
- openjdk7
env:
  global:
  - GRADLE_OPTS="-server -Xmx1024M -Xms768M -XX:PermSize=256m -XX:MaxPermSize=512m"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
  - secure: sRmC553VZ/hIKKs8L4whDwfQFsKCsZ118V/FSOoCSz8whH1Q0ko+3k8Friwo+jaH9o81UuC6bmIRBqXI3xUPu40o8EFgDD/kPY0KUaDiZ/gUcjNIJEezv630RkxnWBAvaUpECkQ5/G3LaWJykta2MGZqtN0aIMwJbXB6j6MbNkc=
cache:
  directories:
  - "$HOME/.gradle/wrapper"
  - "$HOME/.gradle/caches"
deploy:
  provider: releases
  api_key:
    secure: QbyxdSwa1+iH35jEyzy12olWsKZs0qcpmdl73dGa0aEf8yi2wW97DjpJtRuYfMHjwlTBDcaOhQyhc/JPj95wXmL5FskJNNpxYMkl7DDtOVuckV4Z1u+lzkc9SvXZV4K7IpmQextltuP+bpVonGfuSyJAsZvHpKhCMbpeLy5gCFE=
  file: build/distributions/grails-docs-${TRAVIS_TAG:1}.zip
  skip_cleanup: true
  on:
    repo: grails/grails-doc
    tags: true
    all_branches: true
