script: "./travis-build.sh"
sudo: false
jdk:
- openjdk8
env:
  global:
  - GRADLE_OPTS="-server -Xmx1024M -Xms768M -XX:PermSize=256m -XX:MaxPermSize=512m"
  - GIT_NAME="Graeme Rocher"
  - GIT_EMAIL="graeme.rocher@gmail.com"
  - secure: hP52yv6yzqMEIG3SdGi+Nd6DyMiDLY2YlutOq4X6UfaC0ysUJvuq38U1oXYv1d88lV0mRS6lnKB+Oq/A3v89po4Plg+13VMQHhqHDpX0rX/oN49Xvbhrub5GVzxJcV3VIGlpCwAiQ4sc9iwzjMiHYrmM2/ffJpA0HuNSDYM6eZw=
cache:
  directories:
  - "$HOME/.gradle/wrapper"
  - "$HOME/.gradle/caches"
deploy:
  provider: releases
  api_key:
    secure: QbyxdSwa1+iH35jEyzy12olWsKZs0qcpmdl73dGa0aEf8yi2wW97DjpJtRuYfMHjwlTBDcaOhQyhc/JPj95wXmL5FskJNNpxYMkl7DDtOVuckV4Z1u+lzkc9SvXZV4K7IpmQextltuP+bpVonGfuSyJAsZvHpKhCMbpeLy5gCFE=
  file: build/distributions/grails-docs-${TRAVIS_TAG:1}.zip
  skip_cleanup: true
  on:
    repo: grails/grails-doc
    tags: true
    all_branches: true
