/*
 Hidden blocks for translations
*/
.hidden-block {
    display: none;
    background-color: #DED;
    color: #622;
    padding: 0.5em 0;
}

#main {
	line-height: 180%;
}

.body {
	font-family: 'Microsoft YaHei','Tahoma'  ! important
}